<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
  <p>Hi, I'm Francisco, though I sometimes go by <a href="https://en.wikipedia.org/wiki/Pancho">Panch</a>.</p>
  <p>I'm currently a Data Scientist based in Chicago. I help companies design,
  develop, and integrate computer vision and deep learning products and solutions.</p>
  <p>I received my Master's in Aerospace Engineering from the University of Illinois at
  Urbana-Champaign  where I explored the applications of deep learning to computational
  modeling of large scale dynamical systems. Since then I've been passionate about
  teaching computers how to learn from images, simulations, and other complex and dynamic data.</p>
</div>
